{% extends 'core/base.html' %}


{% block titulo %}
    <h1>Inicio</h1>
{% endblock titulo %}

{% block contenido %}
    <div>
        <h2><a href="{% url 'clase:index' %}">Lista de Ventas</a></h2>
    </div>

<div>
        <h2><a href="{% url 'clase:buscar_venta' %}">Busqueda Venta</a></h2>
    </div>


    <div>
        <h2><a href="{% url 'clase:buscar_producto' %}">Busqueda Productos</a></h2>
    </div>

    <div>
        <h2><a href="{% url 'clase:lista_productos' %}">Listado de Productos</a></h2>
    </div>

    <div>
        <h2><a href="{% url 'Crear:agregar_vendedor' %}">Nuevo Vendedor</a></h2>
    </div>

    <div>
        <h2><a href="{% url 'Crear:agregar_cliente' %}">Nuevo Cliente</a></h2>
    </div>

    <div>
        <h2><a href="{% url 'Crear:agregar_producto' %}">Nuevo Producto</a></h2>
    </div>

    <div>
        <h2><a href="{% url 'Crear:agregar_venta' %}">Nuevo Venta</a></h2>
    </div>

{% endblock contenido %}
